.container {
    width: 40rem;
}

.new-post-button-area {
    display: flex;
    justify-content: right;
}

.new-post-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    background: #F4E869;
    width: 5rem;
    height: 2rem;
}

.post-button-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.post-button-text {
    font-size: 12px;
    font-weight: 500;
    font-family: Pretendard;
}

.spacer-horizontal {
    width: 0.25rem;
}

.spacer-vertical {
    height: 1rem;
}

.post-list {
    border-bottom: 1px solid #B4B4B3;
}